<div class="offcanvas offcanvas-end" tabindex="-1" id="wishlistOffcanvas" aria-labelledby="wishlistOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 id="wishlistOffcanvasLabel" class="offcanvas-title text-white text-center w-100">Your Wishlist</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-white" id="wishlistContent">
    <!-- JS will inject wishlist items here -->
    <p>Loading your wishlist...</p>
  </div>
</div>